body {
  background-color: black;
  height: 3000px;
}

.cloth-image {
  position: relative;
  display: inline-block;
}

img {
  height: 300px;
  width: 300px;
}

.sale {
  position: absolute;
  background-color: black;
  color: white;
  top: 10px;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 15px;
}

.container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  height: 90px;
  width: 100%;
  bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button {
  background-color: white;
  border: 1.5px solid black;
  padding: 8px 16px;
  cursor: pointer;
}

