.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(120, 36, 200);
}

.content p {
  padding: 0 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 8px;
  font-weight: 700;
}

.search-bar input {
  border: none;
  height: 30px;
  border-radius: 50px;
  flex: 1;
  max-width: 700px;
  padding-left: 20px;
}

button {
  background-color: rgb(120, 36, 200);
  border: 1px solid white;
  color: white;
  padding: 7px 20px;
  margin-right: 10px;
  font-size: 16px;
}