div {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
}

.user-image {
  margin-right: 15px;
}

.user-upload-container {
  width: 350px;
}

img {
  height: 50px;
  border-radius: 25px;
}

.username {
  display: flex;
  margin-bottom: 7px;
}

.user-upload-name {
  margin-right: 5px;
  font-weight: bold;
}

.user-id-name {
  color: rgb(114, 114, 114);
}

.user-upload-content {
  margin-bottom: 25px;
  line-height: 20px;
}

.youtube-box {
  display: flex;
  border: 1px solid rgb(200, 200, 200);
  align-items: center;
  height: 100px;
  border-radius: 20px;
  overflow: hidden;
}

.youtube-upload-image {
  background-color: rgb(200, 200, 200);
  width: 150px;
  height: 100%;
}

.youtube-upload-content {
  margin-left: 15px;
}

.youtube-label {
  color: rgb(114, 114, 114);
}

.youtube-content {
  line-height: 22px;
}
